@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');

@layer theme, base, components, utilities;
@import "tailwindcss/theme" layer(theme);
@import "./theme.css" layer(theme);
@import "./reset-normalize.css" layer(base);
@import "./button.css" layer(components);
@import "./panel.css" layer(components);
@import "./links.css" layer(components);
@import "tailwindcss/utilities.css" layer(utilities);

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
