/* https://www.joshwcomeau.com/css/custom-css-reset/ */

/* 1. Use a more-intuitive box-sizing model */
/* 2. Remove default margin */
*,
::after,
::before,
::backdrop {
  /* backdrop idea from preflight*/
  box-sizing: border-box; /* 1 */
  margin: 0; /* 2 */
}

:where(:root),
:host {
  /* from sanitize.css, preflight */
  /* 3. Add accessible line-height */
  line-height: 1.5;
  -webkit-text-size-adjust: 100%; /* 2 preflight, help when in horizontal mode on iOS, check? */
  tab-size: 4; /* 3 preflight, opinionated tab size */
  -webkit-tap-highlight-color: transparent; /* 7 preflight, check? */
}

/* 4. Improve text rendering */
:where(:root) {
  -webkit-font-smoothing: antialiased;
}

:where(body) {
  line-height: inherit;
}

/* 5. Improve media defaults */
:where(img, video, canvas, svg, audio, iframe, embed, object) {
  vertical-align: middle; /* from sanitize.css, we do not touch display/max-size/height as it brings other issues */
}

/* 7. Avoid text overflows */
:where(h1, h2, h3, h4, h5, h6) {
  overflow-wrap: break-word;
  text-wrap: balance; /* pretty wrap on headings */
}
/* 8. Improve line wrapping */
:where(p) {
  overflow-wrap: break-word;
  text-wrap: pretty;
  hyphens: auto;
}

:where(hr) {
  color: inherit; /* reset firefox color */
}

/* sanitize.css (CC0-1.0) */

/* Safari uses inset */
:where(iframe) {
  border-style: none;
}

/**
 * Change the fill color to match the text color in all browsers (opinionated, for icons).
 */

/* TODO: icon class? */

:where(svg:not([fill])) {
  fill: currentColor;
}

/**
 * 1. Collapse border spacing in all browsers (opinionated).
 * 2. Correct table border color in Chrome, Edge, and Safari, actually it prevents borderColor on table from working.
 */

/* TODO: move to a table class */
:where(table) {
  border-collapse: collapse; /* 1 */
  border-color: currentColor; /* 2 */
}

:where(fieldset) {
  border: 1px solid gray; /* use some token? */
}

/**
 * 3. Change the resize direction in all browsers (opinionated).
 */

:where(textarea) {
  resize: vertical; /* 3 */
}

/* Accessibility
 * ========================================================================== */

/**
 * Change the cursor on busy elements in all browsers (opinionated).
 */

:where([aria-busy="true" i]) {
  cursor: progress;
}

/*
 * Change the cursor on disabled, not-editable, or otherwise
 * inoperable elements in all browsers (opinionated).
 */

:where([aria-disabled="true" i], [disabled]) {
  cursor: not-allowed;
}

/* https://github.com/jensimmons/cssremedy */

/* from https://github.com/jensimmons/cssremedy/issues/45 */
:where(picture) {
  display: contents;
}

:where(source) {
  display: none;
} /* Firefox only */

/*
https://github.com/twbs/bootstrap/issues/19634#issue-144122534
*/
:where(audio) {
  width: 100%;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/**
  * Prevent `sub` and `sup` elements from affecting the line height in
  * all browsers.
  */

:where(sub, sup) {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

:where(sub) {
  bottom: -0.25em;
}

:where(sup) {
  top: -0.5em;
}

/* Forms
  ========================================================================== */

/**
  * 1. Change the font styles in all browsers.
  */

:where(button, input, optgroup, select, textarea) {
  /* border-width: 1px; does not work in Safari for selects anyway, need to reset appearance? */
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
}

/**
  * 3. Remove the padding so developers are not caught out when they zero out
  *    `fieldset` elements in all browsers.
  */

:where(legend) {
  padding: 0; /* 3 */
}
